MONGODB_URI="mongodb://localhost:27017/crewchat"
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_SECRET=super-long-random-string-32+chars
SOCKET_JWT_SECRET=another-super-long-random-string-32+chars
AUTH_URL=http://localhost:3000
REDIS_URL="redis://localhost:6379"