MONGODB_URI="mongodb://localhost:27017/crewchat"
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
REDIS_URL="redis://localhost:6379"