# =========================
# Docker environment
# =========================

# -------- Web (Next.js) --------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=some-random-string

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Public URL used by browser
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001

# -------- Socket Server --------
PORT=3001
CLIENT_ORIGIN=http://localhost:3000

# -------- Databases (Docker hostnames) --------
MONGODB_URI=mongodb://mongo:27017/crewchat
REDIS_URL=redis://redis:6379
